/* A COMPLETER */
.detournee{text-decoration: underline;
}

.contandante{font-weight: bold;
}

article h1,article h2,article h3{color: red;
}

ul>li>ul>li{list-style: none;
}


#armes ul li{color: blue;
}
#armes>ul>li{color: green;
}

article img{height: 1em;
}

aside img{width: 20vw;
}

section>ul>li{list-style: none;
}

#armes li{list-style: circle;}